:root {
    --headerFont: "Montserrat", "sans-serif";
    --subHeaderFont: "Lora", "sans-serif";
    --regularFont: "Hind Madurai", "sans-serif";
}

*{
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

/* Heading Design */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 10vh;
    font-family: var(--headerFont);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 68, 0, 0.2);
    background-color: aliceblue;
}

.logo {
    color: maroon;
    cursor: pointer;
}

.searchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 60%;
    align-content: center;
    width: 60%;
    text-align: center;
    background: cadetblue;
    overflow: hidden;
    font-size: 1.2rem;
    color: black;
    border-radius: 30px;
    padding-left: 10px;
}

.searchInput {
    border: none;
    height: 90%;
    width: 90%;
    background: cadetblue;
    color: black;
    font-weight: bolder;
    outline: none;
}

.searchInput::placeholder {
    color: black;
    font-family: var(--headerFont);
}

.cart {
    font-size: 1.3rem;
    font-weight: bolder;
    color: maroon;
    cursor: pointer;
}

.searchInput::placeholder:active {
    color: white;
}

@media screen and (max-width: 480px) {
    header{
        position: sticky;
        top: 0;
        padding: 10px;
        height: 20vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
    }
}

/* Product Section */

.content {
    margin-top: 20px;
    height: 1fr;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    padding: 10px;
    border-radius: 15px;
    height: 300px;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.163);
    box-shadow: 2px 2px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.04);
}

.image {
    height: 200px;
    width: 140px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px;
}

.product-name {
    font-family: var(--subHeaderFont);
    font-weight: bolder;
    font-size: 1.2rem;
}

.product-price {
    font-family: var(--regularFont);
    font-weight: bolder;
    font-size: 1.1rem;
}

.addToCart {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: var(--regularFont);
    font-weight: bolder;
    cursor: pointer;
    transition: 0.3s ease;
}

.addToCart:hover {
    box-shadow: 2px 2px 10px black;
}

/* Cart Design */

.cartSidebar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 350px;
    height: 100vh;
    background: white;
    box-shadow: -5px 0 20px rgba(0,0,0,0.2);
    transition: 0.4s ease;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: var(--regularFont);
    z-index: 2000;
}

.cartSidebar.active {
    right: 0;
}

.cartItems {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cartItems div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cartItems div p {
    font-size: 1.2rem;
    font-weight: bolder;
}

.cartFooter {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    font-family: var(--regularFont);
    font-weight: bolder;
    font-size: 1rem;
}

.checkoutBtn {
    width: 70%;
    padding: 10px;
    border: none;
    background: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    margin-bottom: 30px;
}

.checkoutBtn:hover {
    background: rgb(115, 255, 0);
    color: black;
}

.clearBtn {
    width: 28%;
    padding: 10px;
    border: none;
    background: rgba(247, 70, 70, 0.624);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    margin-bottom: 30px;
}

.clearBtn:hover {
    background-color: rgb(247, 70, 70);
    color: white;
}

.cartBack {
    height: 30px;
    width: 60px;
    margin-bottom: 10px;
    border: none;
    text-align:  center;
    align-content: center;
    font-size: 1rem;
    font-weight: bolder;
    background-color: rgb(242, 108, 108);
    border-radius: 5px;
    transition: 0.3s ease;
    font-family: var(--regularFont);
}

.cartBack:hover {
    background-color: rgb(241, 49, 49);
}